[Library]
[Temp]
[Obj]
[Build]
[Builds]
[Logs]
[MemoryCaptures]
/Assets/AssetStoreTools*
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/MemoryCaptures/
/UserSettings/
/ProjectSettings/ProjectCheckSum.asset
/ProjectSettings/ProjectSettings.asset.bak
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.tmp
/*.user
/*.userprefs
/*.pidb
/*.booproj
/*.svd
/*.pdb
/*.opendb
/*.IDB
/DerivedData/
/ASBuild/
/UnityGenerated/
/BuiltinPackages/
.DS_Store
Thumbs.db
